@page "/sign-in"
@inherits AppComponentBase
@layout EmptyLayout

<PageTitle>ورود</PageTitle>

<div class="page-container">
    <section class="page-section p-0 pb-5">
        <EditForm Model="_signInModel" OnValidSubmit="DoSignIn" class="form">
            <DataAnnotationsValidator />

            <h2 class="form-title">ورود</h2>

            <div class="form-input-container">
                <label class="label label-control lable-custom">نام کاربری</label>
                <InputText @bind-Value=_signInModel.UserName 
                           class="form-control" type="number" />
                <ValidationMessage For="@(() => _signInModel.UserName)" />
            </div>

            <div class="form-input-container">
                <label class="label label-control lable-custom">رمزعبور</label>
                <div style="position:relative">
                    <InputText @bind-Value=_signInModel.Password 
                               class="form-control" type="@_passInputType" />
                    <button type="button" style="position:absolute;left:1px;top:2px" @onclick="ShowPassword" class="border-0 bg-transparent py-1 px-2">
                        <BitIcon IconName="@ShowHidePass" AriaLabel="@ShowHidePass.ToString()" />
                    </button>
                </div>
                <ValidationMessage For="@(() => _signInModel.Password)" />
            </div>

            <BitLoadingButton Class="bg-razy text-white border-0" IsLoading="_isLoading"
                              ButtonStyle="BitButtonStyle.Primary"
                              Title="ورود"
                              AriaLabel="ورود"
                              ButtonType="BitButtonType.Submit">
                <span>ورود</span>
            </BitLoadingButton>
        </EditForm>
    </section>
</div>

@if (string.IsNullOrEmpty(_signInMessage) is false)
{
    <StickyMessageBar Class="bg-danger fs-08" IsDismissable=true HasTimeout=true Message="@_signInMessage" OnDismiss="() => _signInMessage = null" />
}